.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.search-user,
.listRepos {
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size: 25px;
}

#search {
	text-align: center;
}

input[name="search"] {
	border-radius: 12px;
	width: 400px;
	height: 30px;
}

.button-search {
	padding: 10px;
  margin: 4px;
  border-radius: 12px;
  background-color: #000;
	color: #fff;
  border: none;
  font-family: fantasy;
}

.button-Repos {
  padding: 10px;
  margin: 4px;
  border-radius: 12px;
  background-color: #000;
	color: #fff;
  border: none;
  font-family: fantasy;
  position: absolute;
  left: 780px;
}

.infoProfile li{
  list-style: none;
}

.infoProfile label {
  list-style: none;
  font-family: fantasy;
  font-size: 25px;
  font-style: italic;
  color: #b22d3c;
  width: 500px;
}

.infoProfile li p {
  font-family: fantasy;
  font-size: 25px;
  font-style: italic;
  color: #fff;
}

.name,
.type,
.company,
.blog,
.location,
.email,
.bio,
.publicRepos,
.publicGists,
.followres,
.following {
  position: relative;
  bottom: 300px;
}

.infoProfile {
  padding-top: 25px;
  width: 810px;
  background-color: #111010;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
  border-radius: 10%;
}

.avatar img {
  border-radius: 50%;
  width: 280px;
  border-radius: 50%;
  width: 280px;
  position: relative;
  left: 480px;
  border: 2px solid #b22d3c;
}

.repoResults {
    margin: 0 auto;
    padding-top: 25px;
    background-color: #111010;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border-radius: 2%;
    color: #b22d3c;
    width: 660px;;
    position: relative;
    bottom: 1003px;
    left: 300px;
}

.infoStarred {
    margin: 0 auto;
    padding-top: 25px;
    background-color: #111010;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    border-radius: 2%;
    color: #b22d3c;
    width: 660px;;
    position: relative;
    bottom: 1003px;
    left: 300px;
}

.repoResults li,
.infoStarred li {
  font-family: fantasy;
  font-style: italic;
  font-size: 16px;
  position: relative;
  bottom: 25px;
}

.repoResults h1,
.infoStarred h1 {
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size: 40px;
  position: relative;
  bottom: 30px;
}
